body {
  font-family: sans-serif;
  padding: 20px;
}

header {
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  cursor: pointer;
}

.form-container {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 20px;
  border: 1px solid black;
}

input {
  display: block;
  width: 93%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 8px 16px;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

.error {
  color: red;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  color: blue;
  text-decoration: underline;
}
